{% extends "layout.html" %}

{% block title %}
    Users
{% endblock %}

{% block main %}
    {% if error %}
      <div class="container-lg my-5">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Error: </strong>{{ error }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      </div>
    {% else %}
      <div class="container-lg">
        {% for user in users %}
            <div id="appointments-box" class="row m-4">
                <div class="col-md-2 py-3">
                    <a href="/profile/{{ user["id"] }}" style="text-decoration: none; color: #212529">
                        <img id="review-profile" src="{{ user["profile"] }}" alt="review-profile">
                    </a>
                </div>
                <div class="col-md-10 p-2">
                    <div class="d-flex justify-content-between pt-3">
                        <div>
                            <h4 style="font-weight: bold">{{ user["name"] }} {{ user["surname"] }}</h4>
                            <h6><i class="bi bi-geo-alt"></i> {{ user["location"] }}</h6>
                            <h6><i class="bi bi-envelope"></i> {{ user["email"] }}</h6>
                        </div>
                        <div>
                            <h4 class="d-flex justify-content-end"><a href="/delete/{{ user["id"] }}"><i class="bi bi-x" style="color: red"></i></a></h4>
                            {% if user["role"] == "admin" %}
                                <h6 class="d-flex justify-content-end">Role: Admin</h4>
                            {% else %}
                                <h6 class="d-flex justify-content-end">Role: Client</h4>
                            {% endif %}
                            {% if user["membership"] == "premium" %}
                                <h6 class="d-flex justify-content-end">Membership: Premium</h4>
                            {% else %}
                                <h6 class="d-flex justify-content-end">Membership: Free</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    {% endif %}
{% endblock %}